<section id="admin" class="clearfix">
    <section class="form-wrapper col-xs-12">
        <h1 ng-show="admin.busy" class="text-center"><span class="text-small" pending></span></h1>
        <h2 ng-hide="admin.editContent">NO ELEMENT SELECTED FOR EDIT</h2>
        <div class="edit-tab translation-tab clearfix" ng-if="admin.editContent && admin.isActiveTab('translation')">
            <h4>{{admin.translate(admin.editContent, language.active)}}</h4>
            <form name="translationForm" ng-submit="translationForm.$valid && admin.saveChanges()" novalidate>
                <div class="form-group clearfix" ng-repeat="lang in languages">
                    <label>{{lang.label}}</label>
                    <input required class="form-control" ng-model="admin.editContent[lang.id]" type="text" placeholder="{{lang.label}}" />
                </div>
                <div class="form-group">
                    <input class="form-control text-center" type="submit" value="SAVE" />
                </div>
            </form>
        </div>
    </section>
    <section class="content-wrapper col-xs-12">
        <h1 ng-show="admin.busy" class="text-center"><span class="text-small" pending></span></h1>
        <div class="tabs-wrapper">
            <div class="tabs-control clearfix">
                <div ng-repeat="tab in admin.tabs" class="pull-left tab-btn text-center" title="{{tab.name}}"
                     ng-click="admin.setTab(tab.name)" ng-class="{'active': admin.isActiveTab(tab.name)}">{{tab.name}}
                </div>
            </div>
            <div class="tab translation-tab clearfix" ng-if="admin.isActiveTab('translation')">
                <div class="form-group btn form-control add-btn" ng-click="admin.addNew();">add new</div>
                <div class="tab-content">
                    <div class="tab-item" ng-click="admin.editTabItem(item)" ng-repeat="item in admin.translation">{{admin.translate(item, language.active)}}</div>
                </div>
            </div>
            <div class="tab page-tab clearfix" ng-if="admin.isActiveTab('page')">
                <div class="tab-content">
                    <div class="tab-item" ng-click="admin.editTabItem(item)" ng-repeat="item in admin.page">{{admin.translate(item, language.active)}}</div>
                </div>
            </div>
        </div>
    </section>
</section>