<section class="navigation collapse-wrapper">
    <h2 class="logo text-uppercase text-bold clearfix">
        <a class="pull-left" ui-sref="landing">Shamak</a>
        <div class="pointer pull-right hidden-sm hidden-md hidden-lg" ng-click="toggleCollapse($event)">
            <i class="fa fa-bars"></i>
        </div>
    </h2>

    <div class="links-wrapper collapse-content hidden-xs">
        <nav ng-repeat="link in links">
            <a class="text-uppercase" ui-sref="{{link.state}}" ng-bind="link.label"></a>

            <div ng-if="link.sublinks" class="sub-links collapse-wrapper">
                <div class="caret-icon text-big" ng-click="toggleCollapse($event)">
                    <i class="hidden-xs fa fa-angle-right"></i>
                    <i class="show-subs-btn text-big hidden-sm hidden-md hidden-lg fa fa-angle-down"></i>
                    <i class="hide-subs-btn text-big hidden-sm hidden-md hidden-lg fa fa-angle-up"></i>
                </div>

                <div class="links hidden-xs collapse-content">
                    <a ng-repeat="sublink in link.sublinks" class="text-uppercase sub-link" ui-sref="{{sublink.state}}" ng-bind="sublink.label"></a>
                </div>
            </div>
        </nav>
    </div>
</section>